<div class="container">
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <% @bookmarks.each do |bookmark| %>
      <tbody>
        <tr>
          <td><%= image_tag bookmark.post.get_post_image, size:'500x350' %></td>
          <td><%= link_to bookmark.user.name, user_path(bookmark.user) %></td>
          <td><%= link_to bookmark.post.title, post_path(bookmark.post) %>
            <div id="star-rate<%= bookmark.post.id%>"></div>
            <script>
              $('#star-rate<%= bookmark.post.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly  : true,
                score: <%= bookmark.post.star %>,
              });
            </script>
          </td>
          <td><%= bookmark.post.body %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>