<div class='container'>
  <%= form_with model: @post, url: post_path, local: true do |f| %>
     <div class="row">
      <div class="mx-auto text-center mt-3">
        <div class="form-group">
          <%= f.label :画像 %>
          <%= f.file_field :post_image, accept: "image/*" %>
        </div>
        <img id="preview" style="width:40%;">
        <script>
          $('#post_post_image').on('change', function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview").attr('src', e.target.result);
            }
            reader.readAsDataURL(e.target.files[0]);
          });
        </script>
        <div class="form-group" id="star">
          <%= f.label :star,'評価 ' %>
          <%= f.hidden_field :star, id: :review_star %>
        </div>
        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf : '<%= asset_path('star-half.png') %>',
          scoreName: 'post[star]',
          half: true,
        });
        </script>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 text-center">
        <div class="form-group row col-12 mx-0">
        <%= f.label :タグ, class: "col-12 col-md-3 text-left px-0" %>
        <%= f.text_field :tagname, value: @tag_list, placeholder: "半角カンマ( , )で、複数付けられます！", class: "pl-0 col-12 col-sm-8" %>
        </div>
        <div class="form-group row col-12 mx-0">
          <%= f.label :タイトル, class: "col-12 col-md-3 text-left px-0" %>
          <%= f.text_field :title, placeholder: "タイトル", class: "pl-0 col-12 col-sm-8" %>
        </div>
        <div class="form-group row col-12 mx-0">
          <%= f.label :投稿内容, class: "col-12 col-md-3 text-left align-top px-0" %>
          <%= f.text_area :body, placeholder: "本文", class: "pl-0 col-12 col-sm-8", rows:"10" %>
        </div>
        <div class="form-group mx-auto">
          <%= f.submit "編集する", class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
