<div class="container">
  <% @tag_list.each do |tag| %>
    <% if tag.posts.count != 0 %>
      <%=link_to tag.tagname, tag_posts_path(tag.id) %>
      <%= "(#{tag.posts.count})" %>
    <% end %>
  <% end %>
  <br>
  <div class="table-responsive">
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th class="col-7"><%= "#{@tag.tagname}" %><%= "　の投稿一覧" %></th>
          <th class="col-2"></th>
          <th class="col-3"></th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td><%= image_tag post.get_post_image, width: '100%' %></td>
            <td>
              <%= image_tag post.user.get_profile_image, width: '40px',height: "40px",class:"rounded-circle" %><br>
              <%= link_to post.user.name, user_path(post.user) %>
            </td>
            <td>
              <%= link_to post.title, post_path(post) %>
              <div id="star-rate<%= post.id%>"></div>
              <script>
                $('#star-rate<%= post.id %>').empty();
                $('#star-rate<%= post.id %>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  starHalf  : '<%= asset_path('star-half.png') %>',
                  half      : true,
                  readOnly  : true,
                  score: <%= post.star %>,
                });
              </script>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>