<div class="container">
  <div id="star-rate<%= @post.id%>"></div>
  <script>
    $('#star-rate<%= @post.id%>').empty();
    $('#star-rate<%= @post.id%>').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf  : '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly  : true,
      score: <%= @post.star %>,
    });
  </script>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag @post.get_post_image, size:'500x350' %></td>
        <td>
          <div id="bookmark_button_<%= @post.id %>">
            <%= render "bookmarks/bookmark", post: @post %>
          </div>
        </td>
        <td>
          <div id="favorite_button_<%= @post.id %>">
            <%= render "favorites/favorite", post: @post %>
          </div>
        </td>
        <td><%= link_to @post.user.name, user_path(@post.user) %></td>
        <td><%= @post.title %></td>
        <td><%= @post.body %></td>
      </tr>
    </tbody>
  </table>
  
  <div>
    <%= form_with model: [@post, @post_comment], local: true do |f| %>
      <%= f.text_area :comment, placeholder:"コメント欄" %>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>
  
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>コメント</th>
      </tr>
    </thead>
    <tbody>
      <% @post.post_comments.each do |post_comment| %>
        <tr>
          <td><%= post_comment.user.name %></td>
          <td><%= post_comment.comment %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>