<div class="container">
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @post.get_post_image, size:'500x350' %>
        <div id="bookmark_button_<%= @post.id %>">
          <%= render "bookmarks/bookmark", post: @post %>　#②
        </div>
      </td>
      <td><%= link_to @post.user.name, user_path(@post.user) %></td>
      <td><%= @post.title %></td>
      <td><%= @post.body %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= form_with model: [@post, @post_comment], local: true do |f| %>
    <%= f.text_area :comment, placeholder:"コメント欄" %>
    <%= f.submit "コメントする" %>
  <% end %>
</div>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @post.post_comments.each do |post_comment| %>
      <tr>
        <td><%= post_comment.user.name %></td>
        <td><%= post_comment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>